### Tutorial 3- Creating Tables And Inserting Records

In [22]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="123456789",
  database="student"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000227189029B0>

### Create Table In MySQL using Python

In [23]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

### Insert Records in Table

In [24]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [29]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [30]:
### Fetch All the Data
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Krish', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [27]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

#### Select All

In [36]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [17]:
### Fetch All the Data
cursor.fetchall()

[(8, 'Krish', 'Stats'),
 (9, 'Joe', 'Maths'),
 (10, 'Ankur', 'Data Science'),
 (11, 'Paul', 'Data Science'),
 (12, 'Vishal', 'Maths'),
 (13, 'Krish', 'Data Science')]

In [39]:
### Fetch One Record At A time
cursor.fetchone()

(3, 'Joe', 'Maths')

In [33]:
lst=cursor.fetchall()

In [19]:
for records in lst:
    print(records)

#### Selecting Particular Rows

In [14]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [15]:
### Fetch All the Data
cursor.fetchall()

[(8, 'Krish', 'Stats'), (13, 'Krish', 'Data Science')]

#### Select Particular Columns

In [58]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [59]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [60]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

### Drop Table

In [21]:
cursor = connection.cursor()
cursor.execute("DROP TABLE studentinfo")

In [54]:
l1 = "a"
l2 = "b"
l1*l2

TypeError: can't multiply sequence by non-int of type 'str'

In [55]:
a=3
b=2
a*b

6

In [75]:
lst = ['3','2']
lst1 = ['4', '5']
lst+lst1

['3', '2', '4', '5']

In [69]:
type(lst)

list

In [77]:
python_version()

NameError: name 'python_version' is not defined

In [78]:
sys.version

NameError: name 'sys' is not defined