#### Creating Databases in MySQL

In [9]:
### Create MySQL Connection
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="123456789"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000256D2A11D30>

### Creating Databases

In [10]:
cursor = connection.cursor()

cursor.execute("CREATE DATABASE student")

In [11]:
cursor.execute('SHOW DATABASES')

In [12]:
for database in cursor:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

### Execute And Drop Some Databases And Check

In [6]:
cursor = connection.cursor()
cursor.execute("DROP DATABASE student")

In [7]:
cursor.execute('SHOW DATABASES')

In [8]:
for database in cursor:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [14]:
2**3**2

512